@font-face{font-family:'Inter';font-weight:400;font-style:normal;src:url('fonts/Inter-Regular.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:700;font-style:normal;src:url('fonts/Inter-Bold.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:900;font-style:normal;src:url('fonts/Inter-Black.ttf') format('truetype');}
@font-face{font-family:'Playfair Display';font-weight:900;font-style:italic;src:url('fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype');}
:root{--font-script:'Playfair Display',Georgia,serif;}
